{% extends "layout.html" %}
{% block conteudo %}

<script>
  document.getElementById('Apartamento').className = 'nav-link active';
</script>

<br><br>
<div id="formularios" class="box box-info col-sm-11">
            <div class="box-header with-border">
              {% if Informacoes: %}
                <h3 class="box-title">Alterar Apartamento</h3>
              {% else %}
                <h3 class="box-title">Cadastro de Apartamento</h3>
              {% endif %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" method="POST" action="{% if Informacoes: %} {{url_for('alterarApartamento', index=index)}} {% else %} {{url_for('Apartamento')}} {% endif %}">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label"><b>Descrição</b></label>

                  <div class="col-sm-10">
                    <input name="descricao" type="text" class="form-control" id="descricao" placeholder="Descrição" {%if Informacoes:%} value="{{Informacoes['descricao']}}" {%endif%} required autofocus>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"><b>Situação:</b></label>

                  <div class="col-sm-10">
                    <select name="situacao" class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" required>
                      <option {%if Informacoes and Informacoes['situacao'] == 'Livre': %} selected="selected" {%endif%}>Livre</option>
                      <option {%if Informacoes and Informacoes['situacao'] == 'Ocupado': %} selected="selected" {%endif%}>Ocupado</option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputnome" class="col-sm-2 control-label"><b>Condomínio:</b></label>

                  <div class="col-sm-10">
                    <select name="condominio" class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" required>
                      {% for condominio in condominios if not condominios.hidden: %}
                          <option value="{{condominio.id}}" {%if Informacoes and Informacoes['condominio'] == condominio['id']: %} selected="selected" {%endif%}>{{condominio.nome}}</option>
                      {% endfor %}
                  </select>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href=""><button type="button" class="btn btn-default">Cancelar</button><a>
                <button type="submit" class="btn btn-info pull-right">Salvar</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>

<hr>

{% include 'listagem.html' %}

{% endblock %}