<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">

    <title>Sistema de Reserva de Condomínio</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{url_for('homepage')}}">SisCond</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a id="homepage" class="nav-link" href="{{url_for('homepage')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if session['usuario'] == 'A': %}
          <li class="nav-item">
            <a id="Usuario" class="nav-link" href="{{url_for('Usuario')}}">Usuário</a>
          </li>
          <li class="nav-item">
            <a id="Condominio" class="nav-link" href="{{url_for('Condominio')}}">Condomínio</a>
          </li>
          <li class="nav-item">
            <a id="Apartamento" class="nav-link" href="{{url_for('Apartamento')}}">Apartamento</a>
          </li>
          <li class="nav-item">
            <a id="Morador" class="nav-link" href="{{url_for('Morador')}}">Morador</a>
          </li>
          <li class="nav-item">
            <a id="Servico" class="nav-link" href="{{url_for('Servico')}}">Serviço</a>
          </li>
          <li class="nav-item">
            <a id="PrestacaoServico" class="nav-link" href="{{url_for('PrestacaoServico')}}">Prestação de Serviços</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a id="Ajuda" class="nav-link" href="{{url_for('Ajuda')}}">Ajuda</a>
          </li>
        </ul>
        {% if session['usuario']: %}
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{url_for('logout')}}">
          <button class="btn btn-primary my-2 my-sm-0 active" type="submit">Sair</button>
        </form>
        {% else %}
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{url_for('login')}}">
          <button class="btn btn-primary my-2 my-sm-0 active" type="submit">Entrar</button>
        </form>
        {% endif %}
      </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <br>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span ariahidden="true">x</span>
            </button>
              {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block conteudo %}
    {% endblock %}


    <hr>

    <footer class="rodape col-md-12">
    <h2 align="center">SisCond</h2>
      <p align="center"> CNPJ: XX.XXX.XXX-XXX-XX Copyright &copy; 2017 Todos os direitos reservados. Rua XXX - Aracati/CE CEP: 62800-000 | <br> <a href="#">www.sigcondominio.com.br</a> (88)77777-7777.</p>
    </footer>
  </div> <!-- /container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</html>
