{% extends 'admin/master.html' %}

{% block body %}
  <p>Atividade de Desenvolvimento Web - Assunto: Módulos Flask-SQLALchemy, unittest</p>

<p>Trabalho realizado pelos Alunos Marcos e Alex onde modelamos uma base de dados de um sistema de condomínio com no mínimo, quatro entidades e três relacionamentos (um para um, um para muitos e muitos para muitos). Criamos uma aplicação Flask e definimos um modelo de dados com Flask-SQLALchemy, além de conjunto de métodos para as operações de CRUD (Create, Read, Update, Delete) para cada entidade criada. Criamos um scripts de teste para verificar se estes métodos foram implementados corretamente (usando unittest).</p>

{% endblock %}